.cn-button {
  border: none;
  background: none;
  color: #000;
  text-align: center;
  font-size: 3.6em;
  padding-bottom: 2em;
  height: 4.5em;
  width: 4.5em;
  background-color: #debf10;
  position: fixed;
  left: 49.25%;
  margin-left: -2em;
  bottom: -2em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
}
.title {
  text-decoration: underline;
}
.card-title {
  text-decoration: underline;
  color: #debf10;
  margin-bottom: 1.5em;
}
.pad {
  margin-bottom: 2em;
}
.card-text {
  margin-bottom: 0.75em;
}
.centered {
  text-align: center;
}
.card-color {
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: #3b373a;
}
.arabic {
  text-align: right;
}
.card-title {
  text-align: center;
}
.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #ffffff;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 2% 0;
  height: 8em;
  font-size: 1.2em;
  border: 0;
  background-color: #3b373a;
  vertical-align: middle;
}
.navbar-brand {
  text-align: center;
  margin: 0 auto;
  float: none;
  padding: 0 15% 5%;
}
.navbar-inverse .navbar-nav .active a,
navbar-inverse .navbar-nav .active a:active,
navbar-inverse .navbar-nav .active a:hover {
  color: #fff;
  background-color: #000;
}
.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.container {
  margin: 4% auto;
}
footer {
  width: 100%;
  padding: 3%;
  background-color: #3b373a;
  color: #debf10;
}
.fa {
  padding: 15px;
  font-size: 25px;
  color: #fff;
}
.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
.mob {
  margin-bottom: 4em;
  padding-bottom: 4em;
}
@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 15px;
  }
  .mob {
    margin-bottom: 4.5em;
    padding-bottom: 4.5em;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }

  h2 {
    font-size: 1.9em;
  }
  .cn-button {
    font-size: 2em;
    padding-bottom: 2em;
    height: 4.5em;
    width: 4.5em;
    background-color: #debf10;
    position: fixed;
    left: 50%;
    margin-left: -2em;
    bottom: -2em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
  }
  .slogan {
    font-size: 2em;
  }
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0%;
  text-align: center;
  top: 0;
}

ul.arabic-list {
  direction: rtl;
}

.arabic-list li {
  direction: rtl;
}

.arabic-list li:before {
  padding: 5px;
}

.arabic-list {
  counter-reset: counter -28;
}

.form-div {
  max-width: 50em;
  margin: auto;
  margin-top: 20em;
}
.carousel-img > img {
  margin: 0 auto;
}
.map > iframe {
  width: 35%;
  margin: auto;
  height: 15em;
}
.title-tool-right {
  margin-left: 0.7em;
}
.title-tool-left {
  margin-right: 0.7em;
}
.logo {
  height: 140px;
}
/* loader */
@keyframes ldio-t9ega0suyup {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-t9ega0suyup > div {
  transform-origin: 100px 100px;
  animation: ldio-t9ega0suyup 0.2849002849002849s infinite linear;
}
.ldio-t9ega0suyup > div div {
  position: absolute;
  width: 22px;
  height: 152px;
  background: #000000;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}
.ldio-t9ega0suyup > div div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.ldio-t9ega0suyup > div div:nth-child(6) {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
}
.ldio-t9ega0suyup > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ldio-t9ega0suyup > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.ldio-t9ega0suyup > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}
.loadingio-spinner-gear-2p2g54ps0te {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-t9ega0suyup {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t9ega0suyup div {
  box-sizing: content-box;
}
.loader-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
}
